body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

* {
   scroll-behavior: smooth;
}

/*--------Font Name--------
Heading Font Name - font-family: 'Yeseva One', cursive;
Seconder Font Name - font-family: 'Poppins', sans-serif;
Orange1 - F2A01D
Orange2 - F2C91D
Gray    - 333333
Paragraph Gray  - 3E3E3E
---------Font Name----------*/

.first-section {
   
   padding-left: 10px;

}

.nav-bar {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   width: 95%;
   padding: 20px;
}

.nav-link {
   display: flex;
   list-style: none;
}

ul li {
   padding: 0 30px;
}

li a {
   text-decoration: none;
   color: #333333;
}

.nav-color:hover {
   color: #F2A01D;
   transition: 0.2s;
}

.btn {
   padding: 10px 30px;
   background-image: linear-gradient(#F2C91D, #F2A01D);
   border-radius: 50px;
   color: #fff;
}

.btn:hover {
   background-image: linear-gradient(#F2A01D, #F2C91D);
   box-shadow: 1px 1px 10px #F2C91D;
   transition: 0.3s;
}
header .first-section-button{
  display: flex;
  grid-gap: 20px; 
}
.nav-bar {
   position: relative;
}

.logo {
   width: 200px;
   height: 60px;
   padding: 0 30px;
   cursor: pointer;
}


.section-font {
   margin: 50px;
   position: relative;
   padding-left: 2px;
   margin-top: 30px;
}

header {
   display: flex;
}

header img {
   width: 690px;
   padding-right: 65px;
}

h1 {
   font-size: 3.5vw;
   font-family: 'Yeseva One', cursive;
   line-height: 140%;
   color: #333333;


}

.name {
   border-left: 10px solid #F2C91D;
   padding-left: 25px;


}

h1 span {
   color: #F2A01D;
}

.portfolio-botton {
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;

}

.paragraph {
   color: #333333;
   margin-top: 8%;
   margin-bottom: 10%;
}

.margin-left {
   padding-left: 6%;
}

.portfolio-botton .fas {
   padding-left: 5px;
   font-size: 20px;
   position: center;
}

.scroll-button {
   position: absolute;
   width: 50px;
   height: 50px;
   margin-top: -80px;
   margin-left: 91%;
   border-radius: 50%;
   cursor: pointer;
   background-image: linear-gradient(#F2C91D, #F2A01D);
   position: fixed;
   box-shadow: 1px 1px 10px #F2C91D;
   z-index: 2;

}

.scroll-button:hover {
   box-shadow: 1px 1px 10px #b4b4b4;
}

.scroll-button .fas {
   color: white;
   position: absolute;
   margin-top: 31%;
   margin-left: 31%;
   font-size: 20px;

}

/*-----------second section------------
-------------second section------------*/

.second-section{
   position: relative;
   margin: 60px 0px;
   overflow-x: hidden;
   z-index: 1;
}
.second-hl{
   text-align: center; 
   width: 100%; 
   margin-bottom: 80px;
}
.total-box{
   display: flex;
   width: 90%;
   padding-left: 5%;
   justify-content: space-between;
   grid-gap: 20px;
}
.total-box img{
   width: 20%;
}
.total-box .two-box img{
   width: 14%;
}
.total-box .one-box{
   background-color: rgb(255, 249, 225);
   border-radius: 30px;
   padding: 30px;
   transition: box-shadow 0.3s ease-out;
   
}
.total-box .one-box:hover{
   box-shadow: 2px 2px 10px #F2C91D;
}

.total-box .two-box{
   background-color: rgb(235, 235, 235);
   border-radius: 30px;
   padding: 30px;
   transition: box-shadow 0.3s ease-out;
}

.total-box .two-box:hover{
   box-shadow: 2px 2px 10px #F2C91D;
}

.total-box .three-box{
   background-color: rgb(224, 235, 255);
   border-radius: 30px;
   padding: 30px;
   transition: box-shadow 0.3s ease-out;
   
}

.total-box .three-box:hover{
   box-shadow: 2px 2px 10px #F2C91D;
}
.total-box p{
   color: #464646;
}
.total-box h3{
   color: #1d1d1d;
}
.total-box{
   margin-bottom: 100px;
}

/*-----------three section------------
-------------three section------------*/

.three-section{
   margin-top: -50px;

}

.education{
   display: flex;
   justify-content: space-evenly;
   padding-left: 12%;
   padding-right: 12%;
   
}
.education img{
  width: 450px;
  padding-right: 100px;
   
}
.education-pargraph{
   margin-top: 35px;

}
.education-pargraph h3{
   border-left: 4px solid #F2A01D;
   padding-left: 10px;
   color: #1d1d1d;
}
.education-pargraph p{
   color: #333333;
}
.three-section h1{
   position:relative;
   text-align: center;
   margin-bottom: 50px;
}

/*-----------skill--------------*/
/*-----------skill--------------*/
/*-----------skill--------------*/

.skill{
   display: flex;
   margin: 30px 160px;
   width: 88%;
   grid-gap: 80px;
   
}
.skill img{
   width: 70%;
   
}
.skill-paragraph{
   margin-top: 30px;
   position: relative;
   margin: 0;
   padding-right: -30%;
}
.skill h3{
   border-left: 4px solid #F2A01D;
   padding-left: 10px;
   color: #1d1d1d;
}
.skill p{
   color: #333333;
}

/*--------------education & skills------*/
/*--------------education & skills------*/
/*--------------education & skills------*/

.four-block h1{
   position: relative;
   text-align: center;
   
}

.portfolio-image{
   width: 30%;
   display: grid;
   grid-gap: 20px 20px;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 3.5%;

}
.portfolio-image img{
   border-radius: 20px;
}
.four-block{
   margin: 50px 0;
}
.five-section .contact-header{
   position: relative;
   text-align: center;
}

.five-section .footer-head{
   text-align: center;
   position: relative;
   margin: 80px 0;
   color: white;
}

.footer{
   background-color: #1d1d1d;
   padding: 0.2px;
}
.five-section p{
 color: white;
 position: relative;
 text-align: center;
 padding-bottom: 60px;
}









